# Gradle
.gradle
/.gradle
/conventions/.gradle

# Idea
.kotlin
.idea
/.idea

# Build
*/build/*
/build/
/build
modules-conventions/conventions/build
modules-conventions/conventions/build/*

# Properties
local.properties
/local.properties

# Mac Specific Files
.DS_Store

# Apk
*.apk

# App Bundle
*.aab

# Other Folders
/captures

# Other Files
*.iml
.externalNativeBuild
.cxx
